/* 字體 */

body{
    font-family: 'Noto Sans TC','微軟正黑體', sans-serif;
    font-weight:700;
}
nav #navToggler a,p {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:700;
}
/* h1{} */
h2{
    font-size: 40px;    
}

h3{
    font-size: 26px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 22px;
}

/* h6{} */

#about .row div h4{
    width: 330px;
    font-size: 18px;
    line-height: 1.45;
    font-family: '微軟正黑體', 'sans-serif';
    background-color:#8ef6f6bb;
    padding: 30px;    
} 
#about .row div h3{
    font-size: 29px;
    font-weight: 400;
}

#space .col-gold-sm h2{
    font-family: '微軟正黑體', 'sans-serif';
}
.TID {
    font-weight: 100;
    letter-spacing: 2px;
    color: antiquewhite;
    position: absolute;
    right: 18px;
    bottom: 10px;
    z-index: 199;
}
#space .col-gold-sm h4{
    font-size: 20px;
    line-height: 1.64;
    letter-spacing: 1.9px;
    margin-left: 10px;
    font-family: '微軟正黑體', 'sans-serif';
}


#food p{
    font-size: 40px;
    text-align: center;
}

#comment h4{
    font-weight:100 !important;letter-spacing: 4px ;
}

#contact h3{
    margin: 15px 0;
}
#contact label{
    font-size: 26px;
}
#contact p{
    font-size: 16px;
    color: rgb(139, 133, 125);
    padding-left: 5px;
}
#contact .col-gold-sm h3{
    font-weight: 100;
}
#contact .text_title{
    font-size: 35px;
}
#contact .traffic p{
    font-size: 26px;
    line-height: 45px;
    margin: 0;
}
#contact input, #Select_adult, #Select_child {
    font-size: 21px;
}
footer .pt{
    font-size:20px;
}
footer .text-right{
    font-size:19px;
    line-height: 17px; 
}
@media(max-width: 768px){
    #about .row div h4{
        width: 224px;
    }
    footer .text-right{
        text-align: center !important;
    }

}

@media(max-width: 576px){
    h2{
        font-size: 29px;    
    }
    /* h3{
    font-size: 26px;
    } */
    h4{
        font-size: 19px;
    }
    /* h5{
    font-size: 22px;
    } */
    
    #about .row div h5{
        font-size: 12px;
    }
    #about .row div h3{
        font-size: 15px;
    }

    #about .row div h4{
        width: 150px;
        font-size: 13px;
        line-height: 1.8;
        font-family: '微軟正黑體', 'sans-serif';
        background-color:#8ef6f6bb;
        padding: 16px;    
    } 
    #space .col-gold-sm h4{
        font-size: 19px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        margin-left: unset;
    }

    #food .swiper-container{
        height: 145px;
    }
    #food p{
        font-size: 26px;
    }

    
    #contact label{
        font-size: 19px;
    }
    #contact p{
        font-size: 13px;
        color: rgb(139, 133, 125);
        padding-left: unset;
    }
    #contact .col-gold-sm h3{
        font-weight: 100;
    }
    #contact .text_title{
        font-size: 26px;
        text-align: center;
    }
    #contact .traffic p{
        font-size: 19px;
        line-height: 45px;
        margin: 0;
    }
    #contact input, #Select_adult, #Select_child {
        font-size: 13px;
    }
    footer .pt{
        font-size:16px;
        padding-top:10px; 
        text-align: center;
    }
    footer .text-right{
        font-size:14px;
        line-height:unset;
        margin: 5px auto; 
        text-align: center !important;
    }
    
}