/* 通用 */
body {
    overflow-x: hidden;
    transition: 0.7s;
}
/* 配合開場動畫 */
body.active{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


*:focus, *:hover {
    outline: none !important;
}
.icon{
    width: 34px;
    height: 34px;
}
.pt-96 {
    /* 用padding而不用margin是因為nav連結跳轉時，會掠過margin直接以div的頂端作為起始點 */
    padding-top: 96px;
}

.mb-96{
    margin-bottom: 96px;
}

@media(max-width: 800px){
    .pt-96{
        padding-top: 35px;
    }
    .mb-96{
        margin-bottom: 35px;
    }
}

.br-l {
    border-top-left-radius: 105px;
}

.br-r {
    border-top-right-radius: 105px;
}

.col-gold-lg {
    width: 61.8%;
}

.col-gold-sm {
    width: 38.2%;
    background-color: #FFFFC8;
}
footer {
    background-color: #594841;
}
@media (max-width: 1024px) {

    .col-gold-lg {
        width: 100%;
    }
    
    .col-gold-sm {
        width: 100%;
    }

    #contact .text h3{
        display: none;
    }

}

.px-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.px-30 {
    padding-right: 30px;
    padding-left: 30px;
}


@media (max-width: 576px) {


    .container .slash {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* flex-wrap: wrap; */
        display: inline-block;
        line-height: 2;
    }

}

.slash {
    border-top: none;
    border-bottom: none;
}

.swiper-img {
    background-size: cover;
    background-position: center;
}
/*開場動畫*/
.animte{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #594841;
    z-index: 99999999;
    display: table;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.animte.active{
    opacity: 1;
}


.animte.hide{
    display: none;
    /* height:0; */
}
.hello {
    color: #ffffc8;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: "roboto";
    font-weight: 300;
}

#main-ctr {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}
svg {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
svg #smile-up,
svg #circle,
svg #eye-to-left,
svg #eye-to-right,
svg #wink,
svg #bg {
    visibility: hidden;
}

/* NAV 導覽列 */
nav .navbar-collapse{
    height: unset;
}

nav.navbar {
    transition: 0.5s;
}
.navbar-top {
    background-color: transparent !important;
}
.navbar-top-bg {
    background-color: #594841e3;
    color: antiquewhite;
}
.navbar-toggler {
    border: 1px solid antiquewhite;
}


@media(max-width: 1000px){
    .navbar-light .navbar-brand {
        margin: 0 calc(50vw - 126.5px) 0 auto;
    }
    nav .navbar-collapse{
        height: calc(100vh - 80px);
    }
    nav #navToggler a{
        line-height: calc(calc(100vh - 80px) / 5);
    }
    nav .navbar-toggler:focus, nav .navbar-toggler:hover {
        background: none;
    }
    #nav-icon1{
        width: 30px;
        height: 30px;
        position: relative;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      #nav-icon1 span {
        display: block;
        position: absolute;
        height: 2.5px;
        border-radius: 9px;
        width: 100%;
        background: antiquewhite;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
      }
      
      #nav-icon1 span:nth-child(1) {
        top: 4px;
      }
      #nav-icon1 span:nth-child(2) {
        top: 13px;
        transition: 0s ease-in-out;
      }
      #nav-icon1 span:nth-child(3) {
        top: 22px;
      }
      #nav-icon1.open span:nth-child(1) {
        top: 14px;
        transform: rotate(135deg);
      }
      
      #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      
      #nav-icon1.open span:nth-child(3) {
        top: 14px;
        
        transform: rotate(-135deg);
      }
}

/* Banner */
.pt-80 {
    padding-top: 80px;
}

.h-banner {
    height: calc(100vh - 80px);
}



/* 初次相遇 */
section#about .m-n-about1 {
    margin: 5rem 0 -15rem -5.7rem
}
section#about .m-n-about2 {
    margin: 0rem 0rem -19rem -51rem;
}
section#about .m-n-about3 {
    margin: -13.5rem 0 -4.5rem -3rem;
}
section#about .m-n-about4 {
    margin: -13.5rem 0 -3.3rem 15.7rem;
}
section#about .m-n-about5 {
    margin: -20.5rem -4.5rem -5.5rem 14rem;
}

section#about .row {
    /* 手機板使用 */
    /* margin: -18rem 0rem 0rem 0rem; */
    position: relative;
}
section#about .col-4{
    position: absolute;
    right: 30px;
    top: calc(50% - 108px);
}
@media(max-width: 768px){
    section#about .col-4{
        position: absolute;
        right:45px;
        top: calc(50% - 146px);
    }
}
@media(max-width: 400px){
   
    section#about .col-4{
        right: 67px;
    }
}

/* 一探方隅 */

.h-space {
    height: calc(100vh - 160px);
}

.pl-n45 {
    padding-left: -45px;
}
section#space .container .row {
    margin-left: 0;
    margin-right: 0;
}
@media(max-width:600px){
    #space .swiper-container{
        margin-bottom: 5px;
    }
    #space .col-gold-sm{
        width: 100%;
        margin: 0 auto;
        background-color: unset;
    }
}

#space .col-gold-lg {
    position: relative;
}
  
@media(max-width: 576px){
    #space .swiper-wrapper, #space .swiper-slide{
        height: 300px;
    }
    #space .pt-80{
    padding: 0;
}
#space .py-5{
    padding: 20px 30px !important;
}

}



/* 淺嘗美味 */
section#food [class*=col-] {
    /* 針對 section.food 裡的有col開頭的class的設定 */
    padding-right: 0;
    padding-left: 0;
}

.food:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    font-size: 32pt;
    font-family: '微軟正黑體';
    font-weight: bold;
}

.rgba-light:hover {
    background-color: #ffffc8e6;
}

.rgba-dark:hover {
    background-color: #fcf99ae6;
}

.food.card-img-overlay p {
    display: none;
}

.food.card-img-overlay:hover p {
    display: inline;
}

section#food .row a{
    text-decoration: none;
}

@media (max-width:768px){
    
.food:hover {
    display: none;
}

.rgba-light:hover {
    background-color: unset;
}

.rgba-dark:hover {
    background-color: unset;
}

}



/* 佳評如潮 */
section#comment [class*=col-] {
    /* 針對 section#comment 裡的有col開頭的class的設定 */
    padding-right: 25px;
    padding-left: 25px;
}
#comment .comment_img{
    width: 100%;
    height: 255px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#comment .card-body{
    background-color: #f9de6b;
}
/* #comment .swiper-container{
    width: 80%;
} */


/* 線上聯繫 */
#contact .col-gold-lg{
    background-color: #b28252;
}
#contact #Select_adult, #Select_child {
    padding: 0rem .75rem;
}
#contact .pr-8{
    padding-right: 8rem;
}
#contact .icon_text{
    padding-left: 5px;
}

#contact .traffic .col-gold-sm.pr-13{
    padding: 0 13rem 0 0 ;
}

@media(max-width: 1024px){
  
     #contact .traffic .col-gold-sm.pr-13{
         padding: 0 calc(50% - 106.5px) !important;
     }
 }

@media(max-width: 800px){
    
   #contact .pr-8{
        padding-right: 3rem;
    }    
    /* #contact .traffic .col-gold-sm.pr-13{
        padding: 0 80px !important;
    } */

}
@media(max-width: 400px){
    #contact .col-gold-lg{
        padding: 10px 20px !important;
    }
    #contact iframe{
        height: 350px;
    }
    #contact .ml-n-2{
        margin-left: -35px !important;
    }
    #contact .form-text{
        padding: 0 5px;
    }
    #contact .col-gold-sm{
        padding:0  20px 10px 20px !important;
        
    }
    
    #contract small{
        text-align: center;
    }
}
#contact .ml-n-2{
    margin-left: -37px;
}

.form-control{
    border-radius:11px;  
}

#contact .traffic .form-group{
    margin: 0;
}
/* 解鎖套件 */
.slide_box {
    width: 100%;
    height: 38px;
    text-align: center;
    background-color: #ffffc8;
    border-radius: 16px;
}

.slide_xbox {
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    color: #808080;  
    position:absolute;
    box-sizing: border-box;
    border-radius: 16px;
}

.lock_btn {
    cursor: pointer;
    width: 38px;
    height: 38px;
    float: right;
    font-size: 33px;
    color: #f9de6b;
    line-height: 38px;    
}
.btn-block{
    color: antiquewhite;
    background-color: #5a443a;
}

.lock_btn > .iconfont {
    font-size: 20px;
    }

#contact .btn{
    border-radius:11px;
}
.parking {
   border-bottom: 2px rgb(139, 133, 125)  dotted ;
}
/* Footer */

/* footer .icon{
    
} */
footer .icon_text{
    padding-left: 5px;
    color: antiquewhite;
}

footer small{
    text-align: center !important;
    letter-spacing: 0.8px;
}